body{
	background-color: aquamarine;
	font-family: 'Times New Roman', Times, serif;
}

.menu{
	font-size: large;
	font-weight: bold;
	color: blue;
}

.menu a{
	font-weight: bold;
	color: #ffffff;
}

.navegador a{
	margin: 10px;
	text-decoration: none;
}

.navegador{
	padding: 20px;
	background-color: darkslategrey;
}

p{
	color: black;
}

.titulotres {
	font-family: 'Courier New', Courier, monospace;
	font-weight: bold;
	font-style: normal;
	color: black;
	font-size: larger;
}

.login{
	margin-right: 0px;
	position: relative;
}