@{
    ViewBag.Title = "Acerca de";
}

<br />
<div class="row col-md-12">
    <div class="col-md-12 col-md-offset-3">
        <h1 class="text-center">¡Acerca de nosotros!</h1>
    </div>
</div>
<hr />

<div class="row justify-content-between">
    <div class="col-md-4">
        <div class="card text-justify" style="width: 18rem;">
            <img src="~/Images/bosses.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Fundadores</h5>
                <p class="card-text">Todo comenzó con la idea de tres jóvenes, Max Harris, John Newton y Alfred Powells.</p>
                <a href="https://www.wikipedia.org/" class="btn btn-outline-dark"><i class="fas fa-info-circle"></i> Leer más</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card text-justify" style="width: 18rem;">
            <img src="~/Images/building.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Sede</h5>
                <p class="card-text">Puedes visitar nuestro edificio sede para solicitar un tour en nuestras instalaciones.</p>
                <a href="https://www.google.com/maps" class="btn btn-outline-primary"><i class="fas fa-map-marker-alt"></i> Ir al mapa</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card text-justify" style="width: 18rem;">
            <img src="~/Images/office.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Misión y Visión</h5>
                <p class="card-text">Convertirnos en el sitio para planificación más utilizado en el mundo empresarial.</p>
                <a href="https://es.wix.com/" class="btn btn-outline-dark"><i class="fas fa-info-circle"></i> Leer más</a>
            </div>
        </div>
    </div>
</div>
