@{
    ViewBag.Title = "Contacto";
}

<br />
<div class="row col-md-12">
    <div class="col-md-12 col-md-offset-3">
        <h1 class="text-center">¡Contáctanos!</h1>
    </div>
</div>
<hr />

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="emailcontact"><i class="fas fa-envelope"></i></span>
                </div>
                <input type="text" class="form-control" placeholder="Correo electrónico" aria-label="Recipient's username" aria-describedby="basic-addon1">
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="namecontact"><i class="fas fa-user"></i></span>
                </div>
                <input type="text" class="form-control" placeholder="Nombre completo" aria-label="Username" aria-describedby="basic-addon1">
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Comentario</span>
                </div>
                <textarea class="form-control" aria-label="With textarea"></textarea>
            </div>

            <div class="text-center mb-3">
                <button type="submit" class="btn btn-outline-primary"><i class="fas fa-paper-plane"></i> Enviar</button>
            </div>

            <h4 class="text-center mb-3">¡Visita nuestras redes!</h4>
            
            <div class="text-center">
                <a href="https://www.facebook.com" class="icono"><i class="fab fa-facebook fa-3x"></i></a>
                <a href="https://www.twitter.com" class="icono"><i class="fab fa-twitter fa-3x"></i></a>
                <a href="https://www.instagram.com/" class="icono"><i class="fab fa-instagram fa-3x"></i></a>
                <a href="https://www.linkedin.com" class="icono"><i class="fab fa-linkedin fa-3x"></i></a>
            </div>
        </div>
    </div>
</div>