@{
    ViewBag.Title = "Inicio";
}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1>¡Bienvenido!</h1>
        <p class="lead">La mejor opción para planeación de eventos, con nosotros encontrarás las mejores herramientas para organizar tu calendario.</p>
        <p><a href="@Url.Action("About","Home")" class="btn btn-outline-dark btn-lg">Aprender más &raquo;</a></p>
    </div>
</div>

<div class="row justify-content-between">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header text-center text-light bg-dark">
                Eventos
            </div>
            <div class="card-body">
                <h5 class="card-title">¡Crea tus eventos!</h5>
                <p class="card-text">
                    Haz uso de nuestra agenda para planear cada uno de tus eventos
                    para que no olvides nada de lo que está por venir.
                </p>
                <a href="#" class="btn btn-sm btn-outline-dark">Ver más...</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header text-center text-light bg-dark">
                Ciudades
            </div>
            <div class="card-body">
                <h5 class="card-title">¿Dónde será?</h5>
                <p class="card-text">
                    Organiza los lugares que serán visitados en cada evento, tal vez sea tu
                    oportunidad de ampliar tus horizontes.
                </p>
                <a href="#" class="btn btn-sm btn-outline-dark">Ver más...</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header text-center text-light bg-dark">
                Contáctanos
            </div>
            <div class="card-body">
                <h5 class="card-title">¡Estamos para ti!</h5>
                <p class="card-text">
                    Si te surgió alguna duda o problema, siempre puedes ponerte en contacto 
                    con nosotros para encontrar una solución.
                </p>
                <a href="#" class="btn btn-sm btn-outline-dark">Ver más...</a>
            </div>
        </div>
    </div>
</div>