body{
    margin: 0px;
    padding: 0px;
}

header{
    background-color: cornflowerblue;
    height: 30px;
    margin: 0%;
    padding: 10px;
    text-align: center;
    display: block;
}

header a{
    font-weight: bold;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    margin-right: 50px;
    margin-left: 50px;
}

.miimg{
    display: block;
    width: 100%;
    max-height: 600px;
}

.secciones{
    float: left;
    width: 250px;
    background-color: rgb(207, 45, 209);
    margin-left: 5%;
    border-radius: 5px;
    height: 300px;
    color: white;
    text-align: center;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    display: block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

hr{
    border: solid 1px cornflowerblue;
}

.t-articulo{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:cornflowerblue;
    font-weight: normal;
    text-align: center;
    font-weight: bold;
}

.secciones p{
    text-align: justify;
    padding: 10px;
}

footer{
    clear: both;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: cornflowerblue;
    width: 100%;
    height: 50px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    padding-top: 20px;
}

.contactanos-form{
    widows: 700px;
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.form-group{
    margin: 50px;
}

.form-group input{
    width: 300px;
    height: 30px;
    border-radius: 8px;
}